<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <%= partial 'layouts/head' %>
</head>
<body class="<%= page_classes %>">

<%= yield %>

<%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js' %>
<%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' %>
<%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js' %>
<%= javascript_include_tag  'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js' %>
<%= javascript_include_tag  'application' %>

</body>
</html>